#dock-holder {
	position: fixed;
	width: 100%;
}

#dock {
	position: relative; 
	height: 50px; 
	text-align: center;
}
#dock div {
	position: absolute;
	height: 50px;
	background: #000;
	padding-left: 20px;
}
#dock a {
	display: block;
	width: 40px;
	color: #FFF;
	position: absolute;
	top: 0px;
	text-align: center;
	text-decoration: none;
	font: bold 12px Arial, Helvetica, sans-serif;
}
#dock img {
	border: none; 
	margin: 5px 10px 0px; 
	width: 100%; 
}
#dock span {
	display: none; 
	padding-left: 20px;
	color: #FFF;
}
