body, div, th, td, li {
	font-family: Verdana;
}

a {
	font-weight: bold;
	text-decoration: none;
}

a img {
	border: 0;
}

html {
	background: #600 url(/_/img/cherries.gif) repeat fixed;
}

body {
	background: url(/_/img/body.png) repeat-x;
	margin: 0;
	border: 0;
	padding: 0;
	height: 100%;
}

table {
	border-collapse: collapse;
}

#shell {
	width: 900px;
	height: 100%;
	margin: 0 auto;
}

#top {
	background: #000;
	height: 60px;
}

#top h2, #top h3 {
	position: absolute;
}

#top img {
	margin: 10px 20px;
	width: 185px;
	height: 40px;
}

#top h3 {
	left: 260px;
}

#site-nav {
	float: right;
	border: 1px solid #600;
	background: #300;
	margin: 2px;
	padding: 1px;
}

#site-nav a {
	float: left;
	display: block;
	padding: 3px 12px;
	color: #C87;
	font: bold 12px Arial,Helvetica,sans-serif;
}

#site-nav a:hover {
	color: #FFF;
	background: #610;
}

#nav {
	height: 34px;
	background: #700;
	vertical-align: middle;
}

#nav a {
	float: left;
	display: block;
	border: 1px solid #700;
	margin: 2px 0 0 2px;
	padding: 6px 14px;
	color: #EBA;
	font-size: 13px;
}

#nav a:hover {
	border: 1px solid #400;
	color: #FFF;
	background: #910;
}

#search {
	float: right;
	display: block;
	padding: 5px 4px;
}

#search input {
	border: 1px solid #300;
	padding: 2px 4px;
}

#search input[type=text] {
	width: 200px;
}

#search input[type=submit] {
	background: #910;
	color: #FDC;
	font: bold 13px Verdana;
}

#search input[type=submit]:hover {
	background: #A10;
	color: #FFF;
}

#rest {
	background: url(/_/img/dark.png);
	padding: 10px;
}

#body {
	background: #FFF;
	padding: 20px;
}