body {
	background: #dde;
}

body,
td {
	color: #333;
}

body,
div,
ul,
ol,
li,
td,
th,
h1,
h2,
h3,
h4,
fieldset {
	margin: 0;
	border: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

input,
select,
textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

var {
	display: none;
}

a {
	color: #44a;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #b90;
}

form {
	display: block;
	float: left;
}

fieldset {
	border: 1px solid #dde;
	margin-bottom: 4px;
}

fieldset h2 {
	font: bold 13px Arial;
	padding: 4px 6px;
	background: #dde;
	border-bottom: 1px solid #dde;
}

fieldset div {
	clear: all;
	position: relative;
	padding: 4px;
}

fieldset div:hover {
	background: #ffd;
}

fieldset div div {
	padding: 0;
}

fieldset div div:hover {
	background: transparent;
}

fieldset div.on {
	background: #ffc;
}

fieldset label {
	float: left;
	display: block;
	width: 120px;
	text-align: right;
	padding: 5px;
	color: #666;
}

input,
textarea,
select,
button {
	margin-right: 2px;
}

input.name {
	width: 150px;
}

input.email {
	width: 250px;
}

input.username,
input.password {
	width: 200px;
}

input.hint,
textarea.hint
{
	color: #aaa;
}

fieldset div.advice {
	display: none;
	padding-left: 130px;
	color: #c00;
}

fieldset div.error {
	display: block;
}

button {
	margin: 0;
	padding: 0;
	font-size: 12px;
	border-width: 1px;
	border-color: #bbd #99c #99c #bbd;
	background: #eef;
	color: #223;
}

button b {
	display: block;
	font-weight: normal;
	padding: 2px 5px;
	cursor: default;
}

button:hover {
	border-color: #cb6 #982 #982 #cb6;
	background: #ffb;
	color: #000;
}

button.main {
	font-size: 13px;
	border-color: #669 #003 #003 #669;
	background: #99c;
	color: #fff;
}

button.main b {
	font-weight: bold;
	padding: 5px 15px;
	text-shadow: #336 1px 1px 2px;
}

button.main:hover {
	border-color: #982 #320 #320 #982;
	background: #b91;
}

button.main:hover b {
	text-shadow: #000 1px 1px 2px;
}

div.actions {
	height: 30px;
}

div.actions a {
	float: left;
}

div.actions div {
	float: right;
}

div.actions button {
	margin: 3px 0 0 4px;
}

div.actions button.main {
	margin: 0 0 0 4px;
}

form.code {
	border: 1px solid #ee6;
	background: #ffc url(icons/error.png) no-repeat 8px 8px;
	padding: 8px 8px 8px 28px;
	position: relative;
	margin: 0 0 8px 0;
}

form.code textarea {
	position: absolute;
	display: none;
	z-index: 1;
}

form.code textarea.submitting {
	background: #fff url(loading.gif) no-repeat 4px 4px;
	color: #ccc;
}

form.code textarea,
code,
pre {
	font: normal 12px monospace;
}

form.code blockquote {
	border: 1px solid #666;
	margin: 0;
	padding: 0;
	background: #fff;
	color: #000;
	width: 100%;
	max-height: 200px;
	overflow: scroll;
	position: relative;
}

form.code blockquote.trace {
	display: none;
	margin-bottom: 8px;
}

form.code i {
	color: #999;
	font-style: normal;
}

form.code u {
	color: #009;
	text-decoration: none;
}

form.code blockquote code {
	display: block;
	white-space: nowrap;
}

form.code blockquote i {
	background: #eee;
}

form.code code.line {
	background: #eef;
	border-top: 1px solid #99f;
	border-bottom: 1px solid #99f;
}

form.code blockquote.error code.line {
	background: #fee;
	border-top: 1px solid #f99;
	border-bottom: 1px solid #f99;
}

form.code div.toggle,
form.code div.toggled {
	cursor: pointer;
	padding-left: 16px;
	background: transparent url(icons/toggle.png) no-repeat -16px 0px;
}

form.code div.toggled {
	background-position: 0px -16px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

th, td {
	padding: 3px 6px;
}

th {
	text-align: left;
	border-left: 1px solid #d6d6dd;
	border-bottom: 1px solid #bbd;
	background: #dde;
}

td {
	border-left: 1px solid #f8f8ff;
	border-bottom: 1px solid #ccd;
	background: #fff;
}

tr.odd td {
	border-left: 1px solid #f2f2ff;
	background: #f8f8ff;
}

th.first,
td.first,
tr.odd td.first {
	border-left: 0;
}

a.add,
a.remove {
	background-repeat: no-repeat;
	padding: 0 0 0 18px;
	line-height: 16px;
	margin: 6px 0 0 0;
}

a.add {
	background-image: url(icons/add.png);
}

a.remove {
	background-image: url(icons/remove.png);
	color: #c00;
}

h1,
h2,
h3,
h4
{
	font-family: Tahoma, Verdana, sans-serif;
}

h1 {
	font-size: 24px;
	padding: 0 0 6px 0;
}

h2 {
	font-size: 20px;
	padding: 0 0 5px 0;
}

h3 {
	font-size: 16px;
	padding: 0 0 4px 0;
}

h4 {
	font-size: 13px;
	padding: 0 0 3px 0;
}

#head,
#body,
#foot {
	text-align: center;
}

div.section {
	width: 990px;
	margin: 0 auto;
	text-align: left;
	position: relative;
	padding: 0 20px;
	clear: both;
}

#head {
	height: 49px;
	position: relative;
	background: #600 url(head.gif) repeat-x bottom left;
	border-bottom: 1px solid #200;
}

#home #head {
	height: 79px;
}

#logo {
	position: absolute;
	display: block;
	left: 20;
	top: 11px;
	width: 117px;
	height: 30px;
	background: transparent url(logo.gif) no-repeat;
	background-size: 100%;
	overflow: hidden;
	text-indent: -100px;
}

#head ul,
#foot ul {
	display: block;
}

#head li,
#foot li {
	display: block;
	float: left;
}

#head ul {
	position: absolute;
	right: 20px;
	top: 26px;
}

#head li {
	background: #99b url(tab.png) no-repeat top left;
	margin-left: 2px;
	text-shadow: #336 1px 1px 2px;
	border-bottom: 1px solid #200;
}

#head li a {
	background: transparent url(tab.png) no-repeat bottom right;
	display: block;
	height: 13px;
	padding: 5px 12px;
	line-height: 13px;
	font-size: 13px;
	color: #fff;
}

#head ul.hover li {
	background-color: #b91;
	text-shadow: #000 1px 1px 2px;
}

#head ul.on li {
	background-color: #fff;
	border-bottom: 1px solid #fff;
	text-shadow: none;
}

#head ul.on a {
	color: #333;
}

#foot ul {
	margin-left: -10px;
}

#foot li a {
	padding: 0 10px;
}

#home #logo {
	background-image: url(logo-big.gif);
	top: 12px;
	width: 234px;
	height: 60px;
}

#home #head ul {
	top: 56px;
}

#body {
	background: #fff;
}

#body div.section {
	padding: 20px 20px;
	min-height: 200px;
}

#body div.loading {
	background: url(loading.gif) no-repeat 2px 26px;
}

#bodyEnd {
	clear: both;
}

#foot {
	border-top: 1px solid #99a;
	background: #dde url(foot.gif) repeat-x top left;
	padding: 10px 0;
	height: 37px;
}

#loading {
	background-image: url(loading.gif);
	width: 80px;
	height: 80px;
	position: absolute;
	left: 445px;
	top: 20px;
}

#veil {
	position: fixed;
	z-index: 9;
	width: 100%;
	height: 100%;
	display: none;
}

#veil div.veil {
	position: absolute;
	z-index: 10;
	width: 100%;
	height: 100%;
	background: #fff;
}

#dialog {
	position: absolute;
	z-index: 11;
	left: 50%;
	top: 90px;
	border: 2px solid #666;
	background: #fff;
}

#dialog fieldset {
	margin: 0;
}


